html{
    scroll-behavior: smooth;
}

.aprensentacao{
    text-decoration:underline;
}

body{
    text-align: justify;
}


.topo{
    height: 200px;  
    
}

.stylemain{
    box-shadow: #808080 0px 5px 100px -20px;
    border-radius: 1em;
}

.logo {
    width: 50px;
}

.img_principal{
    width: 100%;
}

.resumo{
text-indent: 2em;
}

.sectionProject{
    box-shadow: #808080 0px 5px 100px -20px;
    border-radius: 1em;
}

.iconProjeto{
    font-size: 30px;
    color: black;
}

.aprojeto{
    color: black;
    
}

.aprojeto:hover{
    color: #808080;
    text-decoration: none;
}


/* Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .icon{
        margin-left: 0%;
        }
        p, a{
            font-size: large;
        }

        small{
            font-size: medium;
        }
}


/* Medium devices (tablets, 768px and up) - Allysson */
@media (min-width: 768px) and (max-width: 991.98px) {
    .aprensentacao{
        font-size: 35px;
    }

    .icon{
        margin-left: 0%;
        }
  }
  
  /* Large devices (desktops, 992px and up) - Allysson*/
  @media (min-width: 992px) and (max-width: 1199.98px) {

    .icon{
        margin-left: 0%;
        }
    
  } 
  
  /* Extra large devices (large desktops, 1200px and up) - Allysson*/
  @media (min-width: 1200px) {
    .aprensentacao{
        font-size: 50px;
    }

    article, aside, p, div{
        font-size: x-large;
    }

    .icon{
        margin-left: 0%;
        }

  }


  .bgFooter{
    background-color:#050204;
    color: #cecece;
    text-align: center;
}

.afooter{
    color: #fff;
    text-decoration: none;
}

.afooter:hover{
    color: #cecece;
    text-decoration: none;
}


