/* classes gerais para toda a página */

html {
    scroll-behavior: smooth;
    overflow-x: hidden; /* remove o scroll lateral */
    width: 100%;
}

.iconRedes {
    color: white;
    margin-left: 5%;
}

.iconRedes:hover {
    color: rgb(167, 167, 167);
}

a {
    text-decoration: none;
    color: black;
}




h1,
h2 {
    text-align: center;
}

header {
    width: 100%;
    background-image: url(analytics-ge854c85eb_1920.jpg);
    background-repeat: no-repeat;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    background-size: cover;
}

section {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.48) 6px 2px 16px 0px,
        rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    border-radius: 5%;
    margin-bottom: 10%;

}

.imgproject {
    width: 95%;
    margin-left: 2.5%;
    margin-top: 2.5%;
    border-radius: 5%;
}



/* versão mobile */
@media (max-width: 576px) {

    header {
        background-position-x: center;
        height: 300px;
    }

    .navHeader {
        margin-left: 40%;
    }

    .meuResumo {
        text-align: justify;
    }

    main {
        margin-top: 0px;
    }


    .pSection {
        text-align: justify;
        margin-left: 5%;
        width: 90%;
    }


    .sctnContatos {
        height: 150px;
    }

    .iconContatos {
        float: left;
        font-size: 0.8cm;
        margin-top: 50px;
        margin-left: 15%;
    }

    .h2Contatos {
        font-size: larger;
        float: right;
        margin-right: 40%;
        margin-top: 35px;
    }

    .pContatos {
        float: right;
        margin-top: 5px;
        margin-right: 35%;
    }


    .iconEmail {
        float: left;
        font-size: 1cm;
        margin-top: 45px;
        margin-left: 7%;
    }

    .pEmail {
        float: right;
        margin-top: 5px;
        margin-right: 20%;
    }



    footer {
        clear: both;
        background-color: black;
        color: white;
        height: 120px;
    }

    .pFooter {
        float: left;
        width: 100%;
        margin-top: 10px;
        text-align: center;
        font-size: 0.45cm;
    }

    .navFooter {
        float: left;
        margin-left: 35%;
        width: 100%;
        margin-top: 10px;
    }

    .aFooter {
        font-size: 0.6cm;

    }

    small {
        text-align: center;
        float: left;
        width: 100%;
    }

}/* fim parte Mobile */


/* transição de mobile para tablete */
@media (min-width: 576px) {

    header {
        background-position-x: center;
        height: 350px;
    }

    .navHeader {
        margin-left: 60%;
    }

    main {
        margin-top: 0px;
    }


    .meuResumo {
        text-align: justify;
        width: 90%;
        margin-left: 5%;
    }


    /* organiza as sections dos projetos para ficarem lado a lado */
    .divProjetos {
        display: grid;
        grid-template-columns: 300px 300px;
        justify-content: space-around;

    }

    /* organiza o tamanho das Sections  */
    section {
        width: 100%;
        margin-left: 0%;
        height: 85%;
    }

    .pSection {
        text-align: justify;
        margin-left: 5%;
        width: 90%;
        margin-bottom: 50px;
    }

    .divContato {
        display: grid;
        grid-template-columns: 300px 300px;
        justify-content: space-around;
    }

    /* .sctnContatos{
        height: 150px;
    } */

    .iconContatos {
        float: left;
        font-size: 0.8cm;
        margin-top: 40px;
        margin-left: 30%;
    }

    .h2Contatos {
        font-size: larger;
        float: right;
        margin-right: 30%;
        margin-top: 45px;
    }

    .pContatos {
        float: right;
        margin-top: 5px;
        margin-right: 30%;
    }


    .iconEmail {
        float: left;
        font-size: 0.8cm;
        margin-top: 40px;
        margin-left: 30%;
    }

    .pEmail {
        float: right;
        margin-top: 5px;
        margin-right: 15%;
    }


    footer {
        clear: both;
        background-color: black;
        color: white;
        height: 150px;
    }

    .pFooter {
        float: left;
        width: 100%;
        margin-top: 10px;
        text-align: center;
        font-size: 0.5cm;
    }

    .navFooter {
        float: left;
        margin-left: 35%;
        width: 100%;
        margin-top: 10px;
    }

    .aFooter {
        font-size: 0.8cm;

    }

    small {
        font-size: large;
        text-align: center;
        float: left;
        width: 100%;
    }


}/* fim da transição mobile para tablet */


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    header {
        background-position-x: center;
        height: 400px;
    }

    main {
        margin-top: 0px;
    }



    .navHeader {
        font-size: 0.6cm;
        margin-left: 60%;
    }

    .meuResumo {
        font-size: larger;
        text-align: justify;
        width: 90%;
        margin-left: 5%;
    }


    /* organiza as sections dos projetos para ficarem lado a lado */
    .divProjetos {
        display: grid;
        grid-template-columns: 350px 350px;
        justify-content: space-around;

    }

    /* organiza o tamanho das Sections  */
    section {
        width: 100%;
        margin-left: 0%;
        height: 88%;
    }

    .pSection {
        font-size: larger;
        text-align: justify;
        margin-left: 5%;
        width: 90%;
    }

    .divContato {
        display: grid;
        grid-template-columns: 300px 300px;
        justify-content: space-around;
    }


    .iconContatos {
        float: left;
        font-size: 0.8cm;
        margin-top: 40px;
        margin-left: 30%;
    }

    .h2Contatos {
        float: right;
        margin-right: 30%;
        margin-top: 45px;
    }

    .pContatos {
        font-size: large;
        float: right;
        margin-top: 5px;
        margin-right: 30%;
    }


    .iconEmail {
        float: left;
        font-size: 0.8cm;
        margin-top: 40px;
        margin-left: 30%;
    }

    .pEmail {
        font-size: large;
        float: right;
        margin-top: 5px;
        margin-right: 10%;
    }


    footer {
        clear: both;
        background-color: black;
        color: white;
        height: 150px;
    }

    .pFooter {
        float: left;
        width: 100%;
        margin-top: 10px;
        text-align: center;
        font-size: 0.5cm;
    }

    .navFooter {
        float: left;
        margin-left: 37%;
        width: 100%;
        margin-top: 10px;
    }

    .aFooter {
        font-size: 0.8cm;

    }

    small {
        font-size: large;
        text-align: center;
        float: left;
        width: 100%;
    }

}/* fim tablet */

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    header {
        background-position-x: center;
        height: 430px;
    }

    main {
        margin-top: 0px;
    }

    h1 {
        font-size: 1cm;
    }

    h2 {
        font-size: 0.8cm;
    }

    .navHeader {
        font-size: 0.6cm;
        margin-left: 65%;
    }

    .meuResumo {
        font-size: 0.7cm;
        text-align: justify;
        width: 90%;
        margin-left: 5%;
    }


    /* organiza as sections dos projetos para ficarem lado a lado */
    .divProjetos {
        display: grid;
        grid-template-columns: 350px 350px;
        justify-content: space-around;
        margin-left: -80px;
    }

    /* organiza o tamanho das Sections  */
    section {
        width: 120%;
        margin-left: 0%;
        height: 92%;
    }

    .pSection {
        font-size: 0.7cm;
        text-align: justify;
        margin-left: 5%;
        width: 90%;
    }

    .divContato {
        display: grid;
        grid-template-columns: 350px 350px;
        margin-left: -80px;
    }


    .iconContatos {
        float: left;
        font-size: 1cm;
        margin-top: 40px;
        margin-left: 28%;
    }

    .h2Contatos {
        font-size: xx-large;
        float: right;
        margin-right: 30%;
        margin-top: 45px;
    }

    .pContatos {
        font-size: 0.7cm;
        float: right;
        margin-top: 5px;
        margin-right: 30%;
    }


    .iconEmail {
        float: left;
        font-size: 1cm;
        margin-top: 40px;
        margin-left: 30%;
    }

    .pEmail {
        font-size: 0.7cm;
        float: right;
        margin-top: 5px;
        margin-right: 6%;
    }


    footer {
        clear: both;
        background-color: black;
        color: white;
        height: 200px;
    }

    .pFooter {
        float: left;
        width: 100%;
        margin-top: 10px;
        text-align: center;
        font-size: 0.8cm;
    }

    .navFooter {
        float: left;
        margin-left: 35%;
        width: 100%;
        margin-top: 10px;
    }

    .aFooter {
        font-size: 1cm;

    }

    small {
        font-size: larger;
        text-align: center;
        float: left;
        width: 100%;
    }

}/* fim 992px */

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    header {
        background-position-x: center;
        width: 100%;
        height: 700px;
    }

    main {
        margin-top: -0px;
    }

    h1 {
        font-size: 1cm;
    }

    h2 {
        font-size: 0.8cm;
    }

    .navHeader {
        font-size: 0.7cm;
        margin-left: 65%;
    }

    .meuResumo {
        font-size: 0.8cm;
        text-align: justify;
        width: 90%;
        margin-left: 5%;
    }


    /* organiza as sections dos projetos para ficarem lado a lado */
    .divProjetos {
        display: grid;
        grid-template-columns: 400px 400px;
        justify-content: space-evenly;


    }

    /* organiza o tamanho das Sections  */
    section {
        width: 140%;
        margin-left: -10%;
        height: 92%;
    }

    .pSection {
        font-size: 0.8cm;
        text-align: justify;
        margin-left: 5%;
        width: 90%;
    }

    .divContato {
        display: grid;
        grid-template-columns: 350px 350px;
        justify-content: space-evenly;
        margin-left: -80px;
    }


    .iconContatos {
        float: left;
        font-size: 1cm;
        margin-top: 40px;
        margin-left: 28%;
    }

    .h2Contatos {
        font-size: xx-large;
        float: right;
        margin-right: 30%;
        margin-top: 45px;
    }

    .pContatos {
        font-size: 0.7cm;
        float: right;
        margin-top: 5px;
        margin-right: 30%;
    }


    .iconEmail {
        float: left;
        font-size: 1cm;
        margin-top: 40px;
        margin-left: 30%;
    }

    .pEmail {
        font-size: 0.7cm;
        float: right;
        margin-top: 5px;
        margin-right: 10%;
    }


    footer {
        clear: both;
        background-color: black;
        color: white;
        height: 200px;
    }

    .pFooter {
        float: left;
        width: 100%;
        margin-top: 10px;
        text-align: center;
        font-size: 0.8cm;
    }

    .navFooter {
        float: left;
        margin-left: 37%;
        width: 100%;
        margin-top: 10px;
    }

    .aFooter {
        font-size: 1cm;

    }

    small {
        font-size: larger;
        text-align: center;
        float: left;
        width: 100%;
    }
}